html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nav-pills {
  text-align: center;
}

.nav-pills > .active {
  background-color: #fbcd08 !important;
  color: black !important;
}

.nav-pills > a:hover {
  color: black !important;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 80px;
  transition-duration: 0.25s;
  transition-timing-function: linear;
  background-color: #F2FAFF !important;
  border-bottom: 1px solid grey;
  box-shadow:  2px 2px 4px rgba(70,70,70,0.30);

}
.nav-link {
  color: black !important;
}

.navbar-brand {
  color: black !important;
  height: 5rem;
}

.scrolled-nav {
  height: 80px !important;
  line-height: 80px !important;
}



.counter {
  width: 20px;
  height: 20px;
  background: black;
  color: #fff;
  position: fixed;
  top: 120px;
  right: 0;
}